NODE_ENV=development
WEBSITE_DOMAIN=localhost:4000$
HOST=http://localhost
PORT=3000
DATABASE_URL=
DATABASE_NAME=killer-db
DATABASE_HOST=localhost
DATABASE_USER=killer
DATABASE_PASSWORD=killer-db-pass
DATABASE_PORT=5432
COOKIE_SESSION_KEY=dnc$4dv2@dvf2
MERCURE_HOST=http://localhost/.well-known/mercure
MERCURE_PUBLIHSER_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZXJjdXJlIjp7InB1Ymxpc2giOlsiKioiXX19.l8rgyFNq5t7cA8Dtpk1fvYqfi4WOt0zVfVPdh_0idME
